<div><nav class="top-bar" data-topbar="" role="navigation">
    <ul class="title-area">
      <li class="name"><!-- Empty name required for styles --></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  
    
  <section class="top-bar-section">
      <ul class="left">
        <li id="showDashboard" class="active"><a data-route="" href="dashboard" class="active">Dashboard</a></li>
        <li id="showCustomerList"><a data-route="" href="#">Customers</a></li>
        <li id="showAlertGuide"><a data-route="" href="#">Alert Guide</a></li>
        <li id="showContactForm"><a data-route="" href="#">Feedback</a></li>
      </ul>
  
      <ul class="right">
        <li><a data-route="" href="#">Notifications</a></li>
        <li>
          <a data-route="" href="#">
            <span><img style="height:24px; margin-top:-3px" src="app/images/plus.svg"></span>
            <span>Add Customer</span>
          </a>
        </li>
      </ul>
    </section></nav>
  </div>