<button class="secondary-button reset-zoom">Reset Zoom</button>
<button class="secondary-button refresh">Refresh</button>
<button class="secondary-button faqs">FAQs</button>
<button class="secondary-button calendar">
  <i class="icon-calendar"></i>
  <i class="icon-caret-down"></i>
</button>
