<div class="controls">
  <a class="page-first control" href="#"><i class="icon-step-backward"></i></a>
  <a class="page-prev control" href="#"><i class="icon-caret-left"></i></a>
  <div class="info">
    <div class="day">{{day}}</div>
    <div class="instructions">
        Click and drag to zoom
    </div>
  </div>
  <a class="page-next control" href="#"><i class="icon-caret-right"></i></a>
  <a class="page-last control" href="#"><i class="icon-step-forward"></i></a>
</div>
