<ul class="button-group [radius round]">
  <li><button class="toggle-temp secondary-button heating {{ifEqual mode 'heating' 'active' ''}}">HEATING</button></li>
  <li><button class="toggle-temp secondary-button cooling {{ifEqual mode 'cooling' 'active' ''}}">COOLING</button></li>
</ul>
