<div class="runtime-history-detail">
  <div class="chart-controls">
    {{#if modeToggleEnabled}}<div class="mode-toggle"></div>{{/if}}
    <div class="date-picker"></div>
    <div class="date-paginator"></div>
  </div>
  <div class="charts"></div>
</div>
