<div class="header">
  <h1 class="title">Add {{ productShortName }} Data Module</h1>
</div>
<form class="custom">
  <fieldset>
    <div>
      <label>Device ID
        <input type="text" name="deviceId" autofocus/>
      </label>
    </div>
  </fieldset>
  <div class="button-container">
    <button class='submit'>Save</button>
    <a class="cancel">Cancel</a>
  </div>
</form>
