<div>
  <form action="#" id="devices-search">
    <label for="deviceId">Device AUID or Serial Number: </label>
    <input type="text" name="deviceId" value="{{deviceId}}"/>
    <button type="submit">Go</button>
  </form>
</div>

<div id="system-header"></div>
<div id="system-view" class="system-view"></div>
