<div class="page-watermark not-opted-in">
  <h1>Opted Out</h1>
  <h2>This {{ friendlyDeviceType deviceType }} cannot be displayed because it's opted out.</h2>

  <div class="page-instructions">
    <div>
      Customers must opt in on {{ productFullName }} for data to be visible. To direct your customer to opt in:<br/><br/>
      <ol>
        <li>In {{ productFullName }} ask the customer to edit their house</li>
        <li>Ask them to click "Allow my registered HVAC dealer to perform remote diagnostics for my air conditioning and/or heating system."</li>
        <li>Ask them to Save Changes.</li>
      </ol>
      <img src="/img/devices/enable_diagnostics.png">
    </div>
  </div>
</div>
