<div data-js="shutdown-devices-list"></div>

{{#if state.isEditing}}
  <button class="add-button" data-js="add-shutdown-device">
    <i class="icon-plus"></i>
    <span>Add Shutdown Device</span>
  </button>
{{/if}}
