<div class="header">
  <a class="header-link add-notification-recipient" href="/notification_recipients/new"><span class="icon-plus"></span>Add Recipient</a>
</div>
<div class="page-watermark">
  <h1>No Recipients</h1>
  <h2>Click "Add Recipient" to add your first notification recipient.</h2>
</div>
