
 <style>
    #sg-patterns {
      -webkit-box-sizing: border-box !important;
      box-sizing: border-box !important;
      max-width: 100%;
      padding: 0 0.5em;
    }
    
    .demo-animate {
      background: #ddd;
      padding: 1em;
      margin-bottom: 1em;
      text-align: center;
      border-radius: 8px;
      cursor: pointer;
    }
    
    .sg-colors {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      list-style: none !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    .sg-colors li {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      padding: 0.3em;
      margin: 0 0.5em 0.5em 0;
      min-width: 5em;
      max-width: 14em;
      border: 1px solid #ddd;
      border-radius: 8px;
    }
    
    .sg-swatch {
      display: block;
      height: 4em;
      margin-bottom: 0.3em;
      border-radius: 5px;
    }
    
    .sg-label {
      font-size: 90%;
      line-height: 1;
    }
    </style>

<h3>Thermostat Runtime History Legend</h3>
    
<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #25729B;"></span>
        <span class="sg-label">
            Zone 1 <br>
            #25729B
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #93BF56;"></span>
        <span class="sg-label">
            Zone 2 <br>
            #93BF56
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #FA3EB3;"></span>
        <span class="sg-label">
            Zone 3 <br>
            #FA3EB3
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #F4A127;"></span>
        <span class="sg-label">
            Zone 4 <br>
            #F4A127
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #21CD9C;"></span>
        <span class="sg-label">
            Zone 5 <br>
            #21CD9C
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #cf3321;"></span>
        <span class="sg-label">
            Zone 6 <br>
            #cf3321
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #a4c7d9;"></span>
        <span class="sg-label">
            Zone 7 <br>
            #a4c7d9
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #a0409d;"></span>
        <span class="sg-label">
            Zone 8 <br>
            #a0409d
        </span>
    </li>
</ul>

    <h3>Nexia Diagnostics Module Legend</h3>
    
    <ul class="sg-colors">
        <li>
            <span class="sg-swatch" style="background: #419871;"></span>
            <span class="sg-label">
                ID Return Air Temp <br>
                #419871
            </span>
        </li>
        <li>
            <span class="sg-swatch" style="background: #25E469;"></span>
            <span class="sg-label">
                ID Supply Air Temp <br>
                #25E469
            </span>
        </li>
        <li>
            <span class="sg-swatch" style="background: #1276D6;"></span>
            <span class="sg-label">
                ID Liquid Temp <br>
                #1276D6
            </span>
        </li>
        <li>
            <span class="sg-swatch" style="background: #EE25BC;"></span>
            <span class="sg-label">
                ID Coil Temp <br>
                #EE25BC
            </span>
        </li>
        <li>
            <span class="sg-swatch" style="background: #6BD5FD;"></span>
            <span class="sg-label">
                ID Gas Temp <br>
                #6BD5FD
            </span>
        </li>
        <li>
            <span class="sg-swatch" style="background: #AF22C6;"></span>
            <span class="sg-label">
                ID Ext Static Pressure <br>
                #AF22C6
            </span>
        </li>
        <li>
            <span class="sg-swatch" style="background: #BBBBBB;"></span>
            <span class="sg-label">
                Disconnected <br>
                #BBBBBB
            </span>
        </li>
    </ul>