<div class="panel-container">
  <div class="panel-header">
    <div class="title">{{title}}</div>
    <div class="stream-error error icon-circle"></div>
    <div class="stream-error error icon-notification"></div>
    {{#if lastUpdatedAt}}
      <div class='last-updated-at'>Last updated: {{longDateTime lastUpdatedAt}}</div>
    {{/if}}
  </div>
  <div class="panel-content">
  </div>
</div>
