<style>
  img {height:26px;}
</style>


<div style="width:210px;float:left;margin:10px;">
  <img src="app/images/alarm-rth-icon-sprites.png">
  <p>Alarm runtime history graph sprites</p>
</div>
<div style="width:50px;float:left;margin:10px;">
  <img src="app/images/diagnostics-dashboard-critical-icon.png">
  <p>Critical</p>
</div>
<div style="width:50px;float:left;margin:10px;">
  <img src="app/images/diagnostics-dashboard-major-icon.png">
  <p>Major</p>
</div>
<div style="width:50px;float:left;margin:10px;">
  <img src="app/images/diagnostics-dashboard-normal-icon.png">
  <p>Normal</p>
</div>
