#edit-site-message {
  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 30px;
    border-bottom: solid 1px $border-color;
    padding-bottom: 5px;
  }

  textarea {
    max-width: 800px;
  }

  input {
    max-width: 400px;
  }

  fieldset > label {
    margin: 10px 0 0 0;
    font-weight: bold;
  }

  label .error-box {
    border-radius: 4px;
    margin-top: -4px !important;
    margin-bottom: 20px;
  }

  .message-type, .dashboard-panel-slot {
    margin-top: 3px;

    label {
      display: inline;
      margin-right: 20px;

      input {
        margin-right: 10px;
      }
    }
  }

  @media #{$small-only} {
    .dashboard-panel-slot label {
      display: block;
      margin-right: 0;
    }
  }

  .primary-text, .secondary-text, .email  {
    margin-bottom: 30px;
  }

  #image {
    display: block;
  }

  input[type=checkbox] {
    margin: 0 10px 10px 0;
  }

  .message-type span {
    border-radius: 4px;
    border: 1px solid $border-color;
    text-align: center;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

    &.info {
      background-color: $info-banner-background-color;
    }

    &.warning {
      background-color: $warning-banner-background-color;
    }
  }

  #submit {
    &[disabled] {
      background-color: $primary-action-disabled-color;
    }
  }
}
