<div data-js="search-container" class="search-container"></div>

<div id="notification-results">
  <table>
    <thead class="table-header">
      <tr>
        <th class="notification__control">Notification</th>
        <th class="notification__code sortable" data-sort-on="alarmId">
          <span>Code</span>
          <span class="sort-controls" data-sort-indicator="alarmId"></span>
        </th>
        <th class="notification__severity sortable" data-sort-on="severity">
          <span>Severity</span>
          <span class="sort-controls" data-sort-indicator="severity"></span>
        </th>
        <th class="notification__alarm">Alarm</th>
        <th class="notification__description">Description</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <div data-paginator></div>
</div>
