<div>
    <h1>
        <a style="font-family: Source Sans Pro; font-weight: 400; font-style: normal; text-transform: none" href="https://fonts.google.com/specimen/Source+Sans+Pro" title="click to go to google fonts">Source Sans Pro</a>
    </h1>
    <ul style="font-size: 40px; line-height: 1.10909;"> 
        <li style="list-style-type: none;">
            <span style="font-family: Source Sans Pro; font-weight: 200; font-style: normal;">Extra-Light</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 200; font-style: italic;">Extra-Light Italic</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 300; font-style: normal;">Light</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 300; font-style: italic;">Light Italic</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 400; font-style: normal;">Regular</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 400; font-style: italic;">Regular Italic</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 600; font-style: normal;">Semi-Bold</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 600; font-style: italic;">Semi-Bold Italic</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 700; font-style: normal;">Bold</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 700; font-style: italic;">Bold Italic</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 900; font-style: normal;">Black</span>
        </li>
        <li style="list-style-type: none;"> 
            <span style="font-family: Source Sans Pro; font-weight: 900; font-style: italic;">Black Italic</span>
        </li>
    </ul>
</div>