<div data-paginator="">
    <div class="pagination-container">
        <ul class="pagination">
            <li class="active unavailable"><a><span class="current prev"> </span></a></li>
            <li class="active current"><a><span class="">1</span></a></li>
            <li><a href="#page-2" class="page-link">2</a></li>
            <li><a href="#page-3" class="page-link">3</a></li>
            <li class="disabled"><span class="ellipse">…</span></li>
            <li><a href="#page-7" class="page-link">7</a></li>
            <li><a href="#page-8" class="page-link">8</a></li>
            <li><a href="#page-2" class="page-link"> <span class="next"></span></a></li>
        </ul>
    </div>
</div>