<div id="faqs">
  <div class="icon-close"></div>
  <h1>Frequently Asked Questions</h1>

  <dl id="runtime-history-faqs">
    <dt>Q. How many days are available in the run time history graphs?</dt>
    <dd>A. Up to 30 days.</dd>

    <dt>Q. Why does heating/cooling system continue to operate when the target set point has been met?</dt>
    <dd>A. The 950, 850 and 824 utilize advanced control schemes designed to cycle around set point in a manner
      which optimizes comfort and improves system reliability…for details see the Advanced Operation section
      in the 824 and 850 Installation Guide.</dd>

    <dt>Q. Why does the run time history graph sometimes have gaps in the data?</dt>
    <dd>A. Gaps typically appear whenever the network connection is lost for more than 7 minutes and also
      whenever an invalid value was received.</dd>

    <dt>Q. Why does the indoor temperature appear to rise in the beginning or end of a cycle for some systems?</dt>
    <dd>A. During the “Smart Optimization” routine the control determined that the air flow around the control
      affected the sensed indoor temperature. Smart Optimization applies a learned temperature offset
      during a call for capacity.</dd>

    <dt>Q. What would cause the cooling system to cycle below set point for extended periods of time?</dt>
    <dd>A. Overcooling has been enabled on the control and the indoor humidity is above the cooling target humidity.</dd>

    <dt>Q. Why does the indoor temperature graph appear flat at times even though the heating/cooling system is operating?</dt>
    <dd>A. The graphs only depict indoor temperature changes greater than quarter of degree increments.</dd>

    <dt>Q. Why does the indoor temperature oscillate up and down when the heating/cooling system is idle?</dt>
    <dd>A. The graphs only depict indoor temperature changes greater than quarter of degree increments.</dd>

    <dt>Q. Why does the indoor temperature oscillate up and down when the heating/cooling system is idle?</dt>
    <dd>A. The “Fan Mode” is set to “Circulate” and the air flow is cooling the control. Smart Optimization only offsets
      the sensed indoor temperature during heating/cooling operation.</dd>

    <dt>Q. What are the red, yellow and green triangles that occasionally appear on the bottom of the graphs?</dt>
    <dd>A. The different colored triangles indicate a system alert has been asserted at the time indicated on the graph.
      The color indicates the severity of the alert, Red = Critical, Yellow = Major, and Green = Normal.
  </dl>
</div>
