<button class="select-customer {{expandedClass}}">
  <span class='indicator icon-circle-arrow-down'></span>
  <span class="button-label">{{buttonLabel}}</span>
</button>
<div class="search-and-results {{expandedClass}}">
  <input type="text" name="searchterm" autocomplete="off" placeholder="search" autofocus />
  <div class="search-results"></div>
</div>