<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><!-- Empty name required for styles --></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a data-route href="devices">Device Search</a></li>
      <li id="showAlertGuide"><a data-route href="alerts">Alert Guide</a></li>
    </ul>
  </section>
</nav>
