<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><!-- Empty name required for styles --></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a data-route href="/devices">Devices</a></li>
      <li><a data-route href="/dealers">Dealers</a></li>
      <li><a data-route href="/admin/site_messages">Site Messages</a></li>
    </ul>
    <ul class="right">
      <li><a data-route href="/admin/notifications">Notifications</a></li>
    </ul>
  </section>
</nav>
