{{#if image}}
  <img src="{{image}}"/>
{{/if}}
<div class="message">
  <div class="primary-text">{{primaryText}}</div>
  <div>{{secondaryText}}</div>
</div>

<div class="button-container">
  <button class="close secondary-button right">Close</button>
</div>
