<div id="trane-ts-and-cs">
  <h1>TERMS AND CONDITIONS - Licensed Material and Hosted Services</h1>

  <ol id="main-points">

    <li><span class="title">Terms Supplemental.</span>
      <p>These Licensed Material and Hosted Services terms and conditions ("Terms") are supplemental to the terms and conditions applicable to the purchase of the License and/or Hosted Services, as set forth in the proposal and purchase document(s) by and between Customer and Company, including, where applicable, a purchase order (together with the Terms, the "Agreement") and are an integral part of the Agreement. The Terms apply as noted herein to the Company's grant of a license ("License") to software, control products, service tools, and related documentation and websites (the "Material") and to Company's provision of services through a web-based application hosted by Company, including, without limitation, TraneConnect™ remote access, Active Monitoring, Tracer™ Ensemble building management system, Tracer™ Synchrony system controller, Building Performance, and Energy Performance (the "Hosted Services"). Whether Customer purchased a License, Hosted Services, or both is set forth in the Proposal.</p>
    </li>

    <li><span class="title">Structure.</span>
      <p>These Terms are divided into three sections: (i) License Provisions, which are solely applicable to a License; (ii) Hosted Services Provisions, which are solely applicable to Hosted Services; and (iii) General Provisions, which are applicable regardless of whether Customer purchased a License, Hosted Services, or both.</p>
    </li>

    <li><span class="title">Definitions.</span>
      <p>"Concurrent" means simultaneous use of The Material by more than one User on different workstations or other interface devices.</p>
      <p>"Control License" is the License associated with a building automation system control product, such as a Tracer™ SC system controller.</p>
      <p>"Control License Term" is the period of time the Control License is in effect, beginning with the License Effective Date and terminating upon written request by Customer, unless earlier terminated by Company as provided herein.</p>
      <p>"Customer" means, for purposes of these Terms, the party transacting business with Company and such party's User(s), including Named Users.</p>
      <p>"License Effective Date" is the date the Terms are accepted, either in writing, via a digital click-through, browse wrap, or use of the Material and the License is thus in effect for the term specified herein. In all cases, the term is subject to Company's right to terminate the License pursuant to these Terms and the terms of the Agreement.</p>
      <p>"Malicious Code" means any virus, worm, time bomb, Trojan horse or other code, file, script, agent, software program or device that may prevent, impair, or otherwise adversely affect the operation of any computer software, hardware or network, any telecommunications service, equipment or network or any other service or device; prevent, impair or otherwise adversely affect access to or the operation of any program or data, including the reliability of any program or data; or adversely affect the User experience.</p>
      <p>"Named Users" means Users identified by Customer as the primary contact(s) for Customer.</p>
      <p>"Platform" means the platform used by Company to provide the Hosted Services, including the application and database software for the Hosted Services, and the system and server software used to provide the Hosted Services.</p>
      <p>"Seat" means access through a user interface device that is enabled to allow use of the Material by a maximum of one user at any given time.</p>
      <p>"Service License" is the License associated with a service tool, including, without limitation, Rover™ service tool, Tracer™ TU service tool, BACnet Setup Tool, KestrelView™ service software, and TechView™ service software.</p>
      <p>"Service License Term" is the term of the Service License beginning with the License Effective Date and continuing for the period that is specified at and included in the purchase, until earlier terminated as provided herein.</p>
      <p>"Subscription" means Company's grant to Customer of a nonexclusive, non-assignable, royalty free, worldwide limited right to access and use the Hosted Services for Customer's internal business operations subject to the terms and conditions of the Terms and the Agreement.</p>
      <p>"Support License" is the License associated with a product for which Company provides Customer Direct Service ("C.D.S.") support.</p>
      <p>"Support License Term" is a period of one year from the License Effective Date, unless Customer pays the C.D.S. annual maintenance and support fee for the following year or unless the Support License is earlier terminated by Company as provided herein. If Customer requests C.D.S. support after the Support License has terminated, such request will automatically renew the Support License for one year, and Customer will be billed accordingly.</p>
      <p>"TRACE™ 3D Plus License Server" means computer system network installed software that limits concurrent usage of the Material to the licensed quantity of seats pursuant to a Limited Enterprise License.</p>
      <p>"Update" means a release to an existing software product to install patches, bug fixes, updates, add minor features and make other modifications.</p>
      <p>"User" means an individual who has been authorized by Customer to use, and who has been supplied user identification and a password to access, the Material or Hosted Services by Customer (or by Company at Customer's request). Users may include but are not limited to Customer's employees, consultants, contractors and agents; or third parties with which the Customer transacts business.</p>
  </ol>

  <h1>LICENSE PROVISIONS</h1>

  <p>The License Provisions include Sections 4 through 13 and are solely applicable to the purchase of a License. Company offers several types of License. The specific License purchased by Customer is set forth in the Proposal. If a specific type of License is not identified in the Proposal, Customer purchased a Standalone License. Each License Provision applies to all License types unless its application is explicitly limited to one or more specific License types.</p>

  <ol id="main-points">

    <li><span class="title">License Grant.</span>
      <p>Company hereby grants to Customer a limited, non-exclusive, non-transferable license to install and use the Material for Customer's internal business operations in accordance with the applicable clause below and subject to terms and conditions of the Agreement.</p>
      <p>4.1. Standalone License: If Customer purchased a Standalone License, the Material may be installed and used on a single computer that can be directly accessed by only one User at a time, and that is not accessible to users on other computers. Rover™ service tool, Tracer™ TU service tool, BACnet Setup Tool, KestrelView™ service software, TechView™ service software and other service tools are sold with a Standalone License unless otherwise specified in the terms and conditions of the sale. The Standalone License has a Service License Term.</p>
      <p>4.2. Global License: If a Global License has been purchased, The Material may be installed on a server and accessed and used at any User controlled location on any computers, smartphones or tablet computers or other devices operated by the User's employees and, if for a building automation system control product, computers, smartphones or tablet computers or other devices operated in connection with the User's business operation by duly authorized agents and duly authorized contractors of the User that purchased the license. Tracer™ building management controller system products accessed via a web-browser or mobile application (including Tracer™ SC system controller, Tracer™ building management controller, Tracer™ Synchrony system controller, Tracer™ Ensemble building management system and Tracer™ Concierge building control system) and Connectivity Software are granted a Global License unless otherwise specified in the terms and conditions of the sale. The Global License has a Control License term.</p>
      <p>4.3. Limited Enterprise License: if a Limited Enterprise License has been purchased for any of The Material, it is for a single license to install and use the Material at any User location on any User device or supported interface device based on the number of Limited Enterprise Seats that have been purchased. The Limited Enterprise License has a Support License Term.</p>
      <p>4.3.1. Limited Enterprise Seat: Requires a Limited Enterprise License. For each seat purchased, The Material may be installed and used on a single computer or device that can be directly accessed by only one User at a time and that is not accessible using other computers or devices.</p>
      <p>4.4. Enterprise License: Requires the purchase of Enterprise Concurrent Seats and a TRACE™ 3D Plus license server installed on the User's network. If an Enterprise License has been purchased for any of The Material, The Material may be installed and used at any company location on any company computer or supported interface device. Use of the software Material for any and all computer(s) and/or device(s) on which the software is installed is limited to the quantity of purchased Enterprise Concurrent Seats. The Enterprise License has a Support License Term.</p>
      <p>4.4.1. Enterprise Concurrent Seat: Requires an Enterprise License. For each Enterprise Concurrent Seat purchased, The Material may be used or accessed simultaneously from any User location where the software Material is installed. The number of Concurrent Users of the software Material will be automatically limited by the TRACE™ 3D Plus License Server installed on the User's network.</p>
      <p>Notwithstanding anything to the contrary herein, the Material may be copied to a hard disk as circumstances may warrant in accordance with the terms listed above, provided that the original (if in a set form such as CD) may be used solely for backup or archival purposes.</p>
    </li>

    <li><span class="title">Third-Party Content.</span>
      <p>The Material may contain third-party content, including but not limited to software. Portions of such third party content may be sub-licensed to Customer and Customer's License to use such third-party content is non-exclusive and limited to such rights as Trane has legal right to sub-license to Customer. Customer acknowledges and shall abide by the requirements of any such sub-license, which may be provided separately, such as in additional terms and conditions. Customer may separately obtain third party content that can be used with The Material and Customer agrees to validly obtain such third-party content and any requisite third-party licenses in accordance with the terms and conditions for use of that third-party content. The Material may contain other third party content that is licensed under separate applicable license, notwithstanding anything to the contrary in this Agreement. Any requisite acknowledgement, notice, and license information ("Third Party Software Notices") will accompany the Material. The Third Party Software Notices may be provided in documentation, readme files, on a device display, via an embedded server, or on a website or mobile app that interacts with The Material. If the Material includes third party content licensed under GPL/LGPL or other copyleft licenses, the complete corresponding source code for such content will be provided with the Material or the Third Party Software Notices will include a source code offer.</p>
    </li>

    <li><span class="title">Use of Material.</span>
      <p>The Material may be used by itself or in combination with other software, programs or systems for the following purposes: (i) to estimate heating, cooling, efficiency and/or airflow loads for HVAC and/or building automation systems ("BAS"); (ii) to aide in HVAC and/or BAS design and/or equipment selection; (iii) to assist with design air and water distribution systems; (iv) to perform building and equipment energy and acoustical simulations; (v) to track refrigerant usage; (vi) to control, operate, service, maintain, update, or otherwise support an HVAC and/or BAS system; and (vii) to perform other related tasks. Customer acknowledges that the Material is meant to aid Customer and is not a substitute for competency, design services, judgment, or experience. Company shall not be liable for (a) the operation, operability, efficiency, efficacy, accuracy, desirability or suitability of the HVAC/BAS system, its design or any equipment maintained, selected or operated based on the Material's use; or (b) the design or improper servicing of the building or support systems, including but not limited to, appropriate sizing, maintenance and/or application of HVAC systems or suitability of the installation to the design or job requirements.</p>
    </li>

    <li><span class="title">User Competency, Expertise and Proficiency is Assumed.</span>
      <p>Customer acknowledges that the accuracy and efficiency of the Material is highly dependent on Customer's actions, decisions, and data. Customer is responsible for requesting training and assistance, as available and at Customer's cost, from Company prior to using the Material in order to understand how Customer's actions, decisions, and data affect the use and output of the Material; otherwise, Company assumes that Customer has the necessary competency, expertise, and proficiency to use the Material. Customer acknowledges that any input and calculation mechanisms in the Material are to be used only as a guideline for using the Material.</p>
    </li>

    <li><span class="title">Software Maintenance Plan.</span>
      <p>For certain software Material, User must purchase a software maintenance plan to obtain the updates to the software Material. The software Material will continue to function without a software maintenance plan, but User will not be entitled to updates or bug fixes. In some cases and at Company's absolute discretion, critical defects may be extended without a software maintenance plan. Company may, but is not obligated to, automatically install Updates without providing additional notice or obtaining additional consent from Customer. Company may also provide Updates to Customer to install on its device. Company shall have no liability for any losses resulting from Customer's failure to install or to permit Company to install an Update or from the periodic unavailability of the Material due to Updates.</p>
    </li>

    <li><span class="title">Equipment.</span>
      <p>Customer shall be responsible for obtaining and maintaining all computer hardware and other equipment or services needed for access to and use of the Material and for all charges related thereto.</p>
    </li>

    <li><span class="title">License Termination by Company.</span>
      <p>If Customer breaches a term of the Agreement, Company may terminate the License in accordance with the terms of the Agreement. Notwithstanding the foregoing, the Company also may terminate the License pursuant to the subsections below.</p>
      <p>10.1. In the case of a Support License, Company may terminate the License immediately without assigning cause upon written notice to Customer, provided that, upon termination, Company shall provide Customer a pro rata refund of amounts paid by Customer during the current license term.</p>
      <p>10.2. In the case of a Control License or a Service License, Company may terminate the License upon ten days written notice to Customer if Customer breaches a License Provision, excluding payment terms, and fails to cure such breach within the ten day notice period. Customer is not entitled to a refund of any amounts paid in the event of such termination.</p>
      <p>10.3. In the case of a Control License or a Service License, Company may terminate the License without assigning cause upon 60 days written notice to Customer, provided that, upon termination, Company shall credit Customer's account with a pro rata refund of the amount paid by Customer applicable to the License.</p>
      <p>10.4. If Customer has a separate agreement with Company that provides for termination of the License and/or return of The Materials upon the occurrence of an event, then Company may terminate the License and/or obtain return of The Materials from Customer, notwithstanding these Terms.</p>
      <p>Upon termination of the License, Customer shall promptly cease all use of the Material and either return or destroy the Material, together with all copies and merged portions thereof in any form. Customer acknowledges that the damage to Company for non-compliance with the foregoing is a minimum of ten thousand US dollars ($10,000) per month of non-compliance. Customer shall pay to Company at least this amount for each month of non-compliance with this subsection.</p>
    </li>

    <li><span class="title">U.S. Government Restricted Rights.</span>
      <p>11.1. Department of Defense. Notwithstanding any other provision hereof, Customer agrees that: (i) the Material is delivered as "Commercial Computer Software" as defined in the Rights in Commercial Computer Software clause at DFARS 227.7202-3; (ii) the Material has been developed entirely at private expense; (iii) Customer is solely responsible for any effects or costs in connection with modifications of the Material independently made by or for DOD including, but not limited to, impacts on compatibility or support; (iv) the Material is deemed to be adequately marked when the legend below is affixed to the Material or its storage media perceptible directly or with the aid of a machine or device, and (v) for the purposes of this Section, DFARS shall include any applicable successor or replacement clause or regulation.</p>
    </li>

  </ol>

  <h1>RESTRICTED RIGHTS LEGEND</h1>

  <p>Use, duplication or disclosure by the Government is subject to restrictions as set forth in the Rights in Commercial Computer Software clause at DFARS 227.7202-3. The contractor is Trane U.S. Inc., 800-B Beaty Street, Davidson, NC 28036.</p>

  <p>11.2. Civilian Agencies. Notwithstanding any other provision hereof, Customer agrees that: (i) the Material and Documentation are "restricted computer software" as defined in the Commercial Computer Software--Restricted Rights clause at FAR 52.227-19; (ii) the Material was developed entirely at private expense; (iii) the Material is delivered with only the specific rights set forth in subparagraph (c)(2) of the Commercial Computer Software--Restricted Rights clause at FAR 52.227-19; (iv) the Material is deemed to be adequately marked when the legend below is affixed to the Material or its storage media:</p>

  <p>Notice: Notwithstanding any other lease or license agreement that may pertain to, or accompany the delivery of, this restricted computer software, the rights of the Government regarding its use, reproduction and disclosure are as set forth in subparagraph (c)(2) of the Commercial Computer Software- Restricted Rights clause at FAR 52.227-19.</p>

  <p>11.3. These Terms apply to updates, supplements, add-on components, or Internet-based services components, of the Material that Company may provide to Customer or make available to Customer after the date Customer obtains its initial copy of the Material, unless they are accompanied by separate terms. Company reserves the right to discontinue Internet-based services provided or made available to Customer through the use of the Material.</p>

  <ol id="main-points">
    <li>
      <p>Export Laws. Customer shall adhere to the U.S. Export Administration Laws and Regulations and shall not export or re-export any of the Material to any proscribed country or person listed in the U.S. Export Administration Regulations unless properly authorized by the U.S. Government.</p>
    </li>

    <li>
      <p>Uniform Computer Information Transaction Action ("UCITA"). The parties agree that the UCITA (inclusive of any version thereof, adopted by any state in any form) shall not apply to these Terms and, to the extent that the UCITA is applicable, the parties agree to opt-out of the applicability of the UCITA pursuant to the opt-out provision(s) contained therein.</p>
    </li>
  </ol>

  <h1>HOSTED SERVICES PROVISIONS</h1>

  <p>The Hosted Services Provisions include Sections 14 through 23 and are solely applicable to the purchase of Hosted Services.</p>

  <ol id="main-points">

    <li><span class="title">Right to Access.</span>
      <p>Company hereby grants to Customer a Subscription to the Hosted Services subject to the terms and conditions of the Agreement.</p>
    </li>

    <li><span class="title">Hosted Services Term.</span>
      <p>The Subscription shall become effective on the date Customer receives access to the Hosted Services and shall remain in effect for the period set forth in the Agreement. Customer may terminate the Subscription at any time, provided, however, that, unless otherwise stated in the Agreement, Customer is not entitled to a refund of any amounts paid during with respect to the current term. Customer shall immediately pay all amounts then due, including amounts due on account of the early termination.</p>
    </li>

    <li><span class="title">Hosted Services Termination by Company.</span>
      <p>If Customer breaches a term of the Agreement, Company may terminate the Subscription in accordance with the terms of the Agreement. Notwithstanding anything to the contrary, Company also may terminate the Subscription upon ten days written notice to Customer if Customer materially breaches a Hosted Services Provision and fails to cure such breach within the ten day notice period. Customer is not entitled to a refund of any amounts paid in the event of such termination. Customer access, including all User access, shall terminate on the same date as the Subscription.</p>
    </li>

    <li><span class="title">Availability of Hosted Services.</span>
      <p>Company shall exercise reasonable care in providing the Hosted Services and use commercially reasonable efforts to make the Hosted Services available at all times. Company will use reasonable efforts to notify Named Users of Hosted Services outages, and Customer is responsible for raising support issues with Company. It is the responsibility of Named Users to provide this information to all Users of the Hosted Services. Hosted Services features depend on the continuing availability of third-party application program interfaces ("APIs") and programs for use with the Hosted Services. If said third party/ies cease(s) to make the API or program available on reasonable terms for the Hosted Services, Company may be interrupted from providing such features without entitling Customer to any refund, credit, or other compensation.</p>
    </li>

    <li><span class="title">Database Backup.</span>
      <p>Except to the extent Customer has purchased database backup service, short-term and long-term database backups are performed at the sole discretion of Company.</p>
    </li>

    <li><span class="title">Data Export.</span>
      <p>Customer is entitled to export its Customer data from the Hosted Services at any time using the standard Hosted Services export functions that may be available. Except to the extent that Customer has purchased services to retain data for specified periods of time, upon User's written request, Company will endeavor to provide an electronic copy of data collected from User. Company cannot guarantee the availability of the data.</p>
    </li>

    <li><span class="title">Updates.</span>
      <p>Updates to the Hosted Services will be applied by Company as soon as commercially reasonable after a new version is available. Customer acknowledges that there is no provision for maintaining any other version than the current version on the Platform.</p>
    </li>

    <li><span class="title">Antivirus Protection.</span>
      <p>Company uses commercially reasonable efforts to maintain antivirus software on the Platform. However, Customer acknowledges that complex software is never entirely free from defects, errors, bugs, or vulnerabilities, and that Customer is responsible for ensuring that adequate security and antivirus software is in place on all machines accessing the Hosted Services.</p>
    </li>

    <li><span class="title">Disaster Recovery.</span>
      <p>In the event Company experiences a problem with the Hosted Services that results in or is expected to result in a loss of service in excess of five working days, Company may transfer the Hosted Services to an alternative hosting environment. In such event, Customer acknowledges the following: (i) data imported after the most recent database backup may be lost; (ii) Company may use a different IP address to provide the Hosted Services; (iii) Customer may be required to access the Hosted Services via a different IP address and/or domain name; and (iv) data collection may not be available.</p>
    </li>

    <li><span class="title">NO CONTINGENCY.</span>
      <p>CUSTOMER AGREES THAT CUSTOMER'S PURCHASE OF THE HOSTED SERVICES IS NOT CONTINGENT ON THE DELIVERY OF ANY FUTURE FUNCTIONALITY OR FEATURES OR DEPENDENT ON ANY ORAL OR WRITTEN PUBLIC COMMENTS MADE BY COMPANY REGARDING FUTURE FUNCTIONALITY OR FEATURES.</p>
    </li>

  </ol>

  <h1>GENERAL PROVISIONS</h1>

  <p>The General Provisions include Sections 24 through 39 and are applicable regardless of whether Customer purchased a License, Hosted Services, or both.</p>

  <ol id="main-points">

    <li><span class="title">Restrictions</span>
      <p>24.1. Customer shall not use the Material or Hosted Services in any way that is unlawful, illegal or fraudulent, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity, including, but not limited to, (i) storing or transmitting infringing, libelous, or otherwise unlawful or tortious material; (ii) storing or transmitting material in violation of third-party privacy rights; (iii) storing, distributing or transmitting Malicious Code; (iv) interfering with or disrupting the integrity or performance of the Hosted Services or third-party data contained therein; and (v) attempting to gain unauthorized access to the Hosted Services, the Platform, or their related systems and networks.</p>

      <p>24.2. Customer shall not (i) copy, sell, resell, rent, lease, supply, publish, distribute, redistribute, share, license, sublicense or otherwise transfer the Material, the Hosted Services, or any rights in the Material or the Hosted Services granted to Customer by these Terms; (ii) alter, edit, modify, adapt, or create derivate works based on any part or content of the Material, Hosted Services, or Platform; or (iii) decompile, de-obfuscate, disassemble, or reverse engineer, or attempt to decompile, de-obfuscate, disassemble or reverse engineer, the Material or the Platform.</p>

      <p>24.3. Customer shall not (i) copy, frame or mirror any part or content of the Hosted Services, other than copying or framing on Customer's own intranets or otherwise for Customer's own internal business purposes; (iii) access the software code of the Platform, or (ii) access the Hosted Services in order to (a) build a competitive product or service, or (b) copy any features, functions or graphics of the Hosted Services.</p>
    </li>

    <li><span class="title">Security.</span>
      <p>Company has implemented various security measures for the purpose of protecting User's data against accidental or unlawful access, unauthorized disclosure, loss, destruction, and alteration. Customer and Users are responsible for maintaining the confidentiality of User name(s) and password(s). Customer and Users are responsible for all uses of password(s), whether or not authorized by Customer or Users. Customer must inform Company immediately of any unauthorized use of User name(s) or password(s). Transmission of data over the Internet by its nature entails the use of systems under the control of third parties, and as a result Company cannot ensure total control of the security of such systems. Company will take commercially reasonable efforts to ensure that data and other configuration parameters are not visible or accessed by other customers. Customer and Users acknowledge that the very nature of communication via the Internet restricts Company from offering any guarantee of the privacy or confidentiality of information relating passing over the Internet. In gaining access via the Internet, Customer and Users also acknowledge and accept that electronic communication may not be free from interference by unauthorized persons and may not remain confidential and accept that access and storage of data is at Customer's and Users' own risk.</p>
    </li>

    <li><span class="title">Monitoring, Logging and Data Mining; Remote Diagnostics and Repair.</span>
      <p>26.1. Company shall have the right, but not the obligation, to monitor the content and/or use of The Material and use of the Hosted Services to determine compliance with this Agreement and any operating rules established by Company, to authenticate user right to access The Material and use the Hosted Services, and to satisfy any law, regulation or authorized government request. When use of The Material or the Hosted Services entails use of Company websites, servers, processors or networks or electronic connection to controls, systems and/or equipment provided or serviced by Company, Company shall have the unrestricted right, but not the obligation, to operate, modify, service and mine data from the connected product(s) (a) to provide support, updates and fixes, warranty and services and/or products to Users (b) to verify compliance with the Terms and of the Agreement, (c) for use by Company for statistical or other analysis of the collective characteristics and behavior of its users, (d) to backup User and other data or information and/or provide remote support and/or restoration, (e) to provide or undertake: engineering analysis; failure analysis; warranty analysis; energy analysis; predictive analysis; service analysis; product usage analysis; and/or other desirable analysis, including histories or trending of any of the foregoing, and (f) to otherwise understand and respond to the needs of the users of Company's products and services. All data relating to the performance and condition of User's building systems that Company collects in connection with Company's performance hereunder shall be owned by User, provided that User grants to Company the irrevocable, perpetual, nonexclusive, worldwide, royalty-free right and license to use, reproduce, display, distribute internally or externally and prepare derivative works based upon any such data Company collects. Company shall not use or publish such data in any way that identifies User as the source of that data without User's prior written consent.</p>

      <p>26.2. User authorizes Company to utilize User's infrastructure to connect to controls, systems and/or equipment provided or serviced by Company and to provide services contracted for or otherwise requested by User for the purposes set forth in Section 27.1. User acknowledges that Company is not responsible for any adverse impact to User's infrastructure. User understands and acknowledges that Company will not be able to collect data or provide services when communications are not operating or have been cut, interfered with or otherwise damaged or of poor quality or if Company is unable to acquire, transmit or maintain a connection over or to User's communication systems. If User does not allow required communication between the building automation system and Company websites, servers, processors or networks or electronic connection to controls, Company may not be able to provide all contracted services.</p>
    </li>

    <li><span class="title">Intellectual Property.</span>
      <p>Customer acknowledges that Company retains all title and interest in and to the Material and Hosted Services, including, without limitation, all Company software, algorithms, materials, formats, and interfaces. Customer further acknowledges that the Material, the Hosted Services, and the Platform contain Confidential Information of Company, and are protected by applicable copyright, patent, trademark, trade secret, and other intellectual property laws and treaties. Nothing in these Terms shall operate to assign or transfer any intellectual property rights from Company to Customer or from Customer to Company. All trademarks appearing in the Material and Hosted Services are the property of their respective owners.</p>
    </li>

    <li><span class="title">Disclaimer of Warranty; Limitation of Liability</span>
      <p>28.1. Notwithstanding anything to the contrary in the Agreement, the warranty and limitation of liability provisions of this Section 29 shall apply to the Material, any License thereof, and the Hosted Services, and no other warranty or limitation of liability provisions in the Agreement shall apply to the Material, a License, and the Hosted Services.</p>

      <p>28.2. CUSTOMER EXPRESSLY AGREES THAT USE OF THE MATERIAL AND THE HOSTED SERVICES IS AT CUSTOMER'S SOLE RISK. COMPANY DOES NOT WARRANT OR GUARANTEE THAT THE MATERIAL OR THE HOSTED SERVICES WILL BE UNINTERRUPTED OR ERROR FREE; NOR DOES COMPANY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE MATERIAL OR THE HOSTED SERVICES, OR AS TO THE TIMELINESS, EFFICACY, OPERABILITY, COMPLETENESS, ACCURACY, RELIABILITY OR CONTENT OF THE MATERIAL OR THE HOSTED SERVICES, OR OF ANY DESIGN, FUNCTION, PROCESS, INFORMATION, SERVICE, OR MERCHANDISE PROVIDED THROUGH OR BY USE OF THE MATERIAL OR THE HOSTED SERVICES.</p>

      <p>28.3. THE MATERIAL AND THE HOSTED SERVICES ARE PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THESE TERMS.</p>

      <p>28.4. IN NO EVENT WILL COMPANY, OR ANY PERSON OR ENTITY INVOLVED IN CREATING, PROVIDING, PRODUCING, MAINTAINING OR DISTRIBUTING THE MATERIAL OR THE HOSTED SERVICES BE LIABLE FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF THE USE OF OR INABILITY TO USE THE MATERIAL OR THE HOSTED SERVICES. SPECIFICALLY, COMPANY SHALL NOT BE LIABLE FOR ANY THIRD-PARTY CLAIMS OR LOSSES OF ANY NATURE, INCLUDING, BUT NOT LIMITED TO, LOST PROFITS, PUNITIVE OR CONSEQUENTIAL DAMAGES. CUSTOMER HEREBY ACKNOWLEDGES THAT THE PROVISIONS OF THIS SECTION SHALL APPLY TO ALL CONTENT OF THE MATERIAL AND THE HOSTED SERVICES.</p>

      <p>28.5. IN ADDITION TO THE TERMS SET FORTH ABOVE, COMPANY SHALL NOT BE LIABLE FOR ANY DAMAGES OR INJURY REGARDLESS OF THE CAUSE OR DURATION, FOR ANY ERRORS, INACCURACIES, OMISSIONS, OR OTHER DEFECTS IN THE MATERIAL OR THE HOSTED SERVICES; FAILURE OF PERFORMANCE; INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION; COMPUTER VIRUS; COMMUNICATION FAILURE; THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF THE MATERIAL OR THE HOSTED SERVICES, OR UNTIMELINESS OR UNAUTHENTICITY OF, THE INFORMATION CONTAINED WITHIN THE MATERIAL OR THE HOSTED SERVICES, OR FOR ANY DELAY OR INTERRUPTION IN THE PROVISION THEREOF TO CUSTOMER, OR FOR ANY CLAIMS OR LOSSES ARISING THEREFROM OR OCCASIONED THEREBY WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION. COMPANY SHALL HAVE NO LIABILITY FOR DECISIONS BASED ON ANY OF THE MATERIAL OR THE HOSTED SERVICES PROVIDED AND RECOMMENDS CUSTOMER OBTAIN EXPERT ADVICE PRIOR TO ANY SUCH DECISIONS.</p>

      <p>28.6. COMPANY'S MAXIMUM AGGREGATE LIABILITY IN CONNECTION WITH ANY AND ALL CAUSES OF ACTION OR OTHER MATTERS OF ANY KIND ARISING OUT OF THESE TERMS IS LIMITED TO THE AMOUNT ACTUALLY PAID BY CUSTOMER FOR THE LICENSE OR THE SUBSCRIPTION WITHIN THE YEAR PRECEDING CUSTOMER'S DATE OF NOTICE TO COMPANY OF THE CAUSE OF ACTION.</p>
    </li>

    <li><span class="title">Indemnification.</span>
      <p>Notwithstanding anything to the contrary in the Agreement, Customer shall defend, indemnify, and hold Company harmless from and against any claim, loss, damage, cost (including the cost of any settlement), expense or any liability suffered or incurred by Company arising from or in connection with Customer's use of the Material or the Hosted Services.</p>
    </li>

    <li><span class="title">Reservation of Rights.</span>
      <p>Company reserves all rights not explicitly granted to Customer herein.</p>
    </li>

    <li><span class="title">Privacy.</span>
      <p>Company will comply with the Ingersoll-Rand Data Protection and Privacy Policy, available at http://company.ingersollrand.com and incorporated herein by reference ("Privacy Policy"). The Privacy Policy is subject to change at Company's discretion, provided that such changes will not result in a material reduction in the level of protection for Customer Data during the period for which the License or Hosted Services fees have been paid.</p>
    </li>

    <li><span class="title">Notice.</span>
      <p>All notices required hereunder shall be made in writing and reference these Terms. Notice shall be deemed given by Company on the date that it is deposited in the mail, postage paid, addressed to the Customer at any address provided by Customer to Company when purchasing the Material and/or Hosted Services by Customer, or any other address Customer shall designate by notice to Company. Notice shall be deemed given by Customer upon receipt of said written notice by the Legal Department of Trane at 800-B Beaty St., Davidson, NC 28036, U.S.A., or any other address Company shall designate by notice to Customer.</p>
    </li>

    <li><span class="title">Entirety of Agreement.</span>
      <p>These Terms and the Agreement contain the full and complete understanding of the parties with respect to the Material and the Hosted Services, and supersedes all previous written or oral agreements between the parties with respect to the Material and the Hosted Services. No waiver, alteration, or modification of any of the provisions herein shall be binding unless agreed to in writing and signed by authorized representatives of the parties. Neither the course of conduct between the parties nor trade usage shall act to modify or alter the provisions of these Terms. Customer acknowledges that the terms and conditions of any purchase order, memorandum, or instrument Customer issues relating to the Material and/or Hosted Services provided herein are for Customer's internal purposes only. Such terms and conditions shall have no effect on the Terms unless agreed to in writing pursuant to this Section.</p>
    </li>

    <li><span class="title">Changes in Terms and Conditions.</span>
      <p>Notwithstanding anything to the contrary, Company reserves the right to, at any time, change, delete, or add to, as applicable, (i) the Material; (ii) service level agreements; (iii) the Hosted Services; and (iv) theses Terms in whole or in part, including without limitation to add fees and charges for the use of products or services that are not presently subject to fees and charges. Any such change, deletion or addition shall be effective immediately upon Company's providing notice thereof. Notwithstanding anything to the contrary, Company may give notice pursuant to this Section by means including, but not limited to, Updates to the Material, posting on Company's public websites, electronic or conventional mail, or any other means by which Customer obtains notice thereof. Any use of the Material or the Hosted Services, as applicable, by Customer after Company provides notice shall be deemed to constitute acceptance by Customer of such changes, deletions or additions.</p>
    </li>

    <li><span class="title">Waiver.</span>
      <p>No breach of any provision of these Terms shall be waived except with the express written consent of the party not in breach. No waiver by either party of any breach or default hereunder shall be deemed to be a waiver of any preceding or subsequent breach or default.</p>
    </li>

    <li><span class="title">Assignment.</span>
      <p>Customer shall not assign these Terms without the prior written consent of Company.</p>
    </li>

    <li><span class="title">Choice of Law.</span>
      <p>This Agreement shall be governed by and construed in accordance with the laws of the State of North Carolina, exclusive of any provisions of the laws of North Carolina that provide a choice of law and choice of venue other than North Carolina, so as to exclude conflict of laws provisions which may direct the application of another jurisdiction's laws. The UN Convention on the International Sale of Goods shall not apply to this Agreement.</p>
    </li>

    <li><span class="title">Severability.</span>
      <p>If any part or parts of these Terms are found by a court or other competent authority to be unlawful or unenforceable, the remainder of these Terms shall continue to be valid and enforceable and shall be construed insofar as is possible to achieve the original intentions of the parties hereto.</p>
    </li>

    <li><span class="title">Section Headings.</span>
      <p>The section headings used herein are for convenience only and shall not be given any legal import.</p>
    </li>
  </ol>
  <p>Version "R" (111617)</p>

</div>
