<div id="ts-and-cs">
  <div id="terms-and-conditions-content"></div>
</div>
<div class="button-container">
  <button class='submit' id="accept">Accept</button>
  <a href="/login" class="cancel" id="reject">Reject</button>
</div>
