<form action="javascript:void(0)" class="">
  <div class="controls input-append">
    <input type="text" name="deviceId" id="deviceId" class="input-medium span2" placeholder="Enter Auid">
    <button type="submit" value="Submit" class="submit btn btn-primary">Submit</button>
  </div>
</form>