<div class="header">
  <h1 class="title">System Refresh Required</h1>
  <p>Important system updates have been deployed. You must reload the app to continue.</p>

  <form>
    <div class="button-container">
      <button class='submit close'>Reload</button>
    </div>
  </form>
</div>
