<div id="main-content" style="min-height:0px"><div id="customer-container">
    <div class="heading">
      </div>
      <div id="devices"><div><ul class="device-tabs">
          <li class="tab active">
            <a href="#" data-system-id="00C0111C">
              <div class="tab-content">
                <button class="notes">Notes</button>
                <div class="device-name">System 1</div>
                <div>-- <span class="device-identifier" data-tooltipped="" aria-describedby="tippy-tooltip-509" data-original-title="Device ID: 00C0111C">00C0111C</span></div>
                <div>Model: -- <span class="device-identifier" data-tooltipped="" aria-describedby="tippy-tooltip-510" data-original-title="Serial Number: "></span></div>
              </div>
            </a>
          </li>
          <li class="tab">
            <a href="#" data-system-id="014A42A4">
              <div class="tab-content">
                <button class="notes">Notes</button>
                <div class="device-name">System 2</div>
                <div>-- <span class="device-identifier" data-tooltipped="" aria-describedby="tippy-tooltip-511" data-original-title="Device ID: 014A42A4">014A42A4</span></div>
                <div>Model: 824 <span class="device-identifier" data-tooltipped="" aria-describedby="tippy-tooltip-512" data-original-title="Serial Number: "></span></div>
              </div>
            </a>
          </li>
          <li class="tab">
            <a href="#" data-system-id="0150AD3C">
              <div class="tab-content">
                <button class="notes">Notes</button>
                <div class="device-name">System 3</div>
                <div>-- <span class="device-identifier" data-tooltipped="" aria-describedby="tippy-tooltip-513" data-original-title="Device ID: 0150AD3C">0150AD3C</span></div>
                <div>Model: 824 <span class="device-identifier" data-tooltipped="" aria-describedby="tippy-tooltip-514" data-original-title="Serial Number: "></span></div>
              </div>
            </a>
          </li>
      </ul>
      <select class="device-dropdown">
          <option data-device-id="00C0111C" value="00C0111C">00C0111C -  - </option>
          <option data-device-id="014A42A4" value="014A42A4">014A42A4 -  - </option>
          <option data-device-id="0150AD3C" value="0150AD3C">0150AD3C -  - </option>
          <option data-device-id="0150A8E4" value="0150A8E4">0150A8E4 -  - </option>
          <option data-device-id="015888C0" value="015888C0">015888C0 -  - </option>
          <option data-device-id="01588D48" value="01588D48">01588D48 -  - </option>
          <option data-device-id="01588824" value="01588824">01588824 -  - </option>
          <option data-device-id="0158B43C" value="0158B43C">0158B43C -  - </option>
      </select>
      <div id="system-view" class="system-view"><div><span id="devices-container"><div><div class="device-panels" data-device-type="thermostat">
      </div>
      </div></span>
      </div></div>
      </div></div>
      </div></div>