<div class="info-panel">
  <fieldset class="customer-search-form">
    <h2>Customer</h2>
    <div class="customer-search"></div>
  </fieldset>
  <fieldset>
    <h2>Notes</h2>
    <div class="notes">
      <textarea name="note" class="no-resize-width"></textarea>
    </div>
  </fieldset>
</div>
