<div class="header">
  <h1 class="title">Change Group Assignment</h1>
</div>
<form class="custom change-system-group">
  <fieldset>
    <div id="group-selection">
    </div>
  </fieldset>
  <div class="button-container">
    <button class='submit close'>Close</button>
  </div>
</form>
