<div class="panel-container system-status-overview"></div>
<div class="panel-container customers-alerts-list-panel"></div>
<div class="panel-container alerts-map"></div>
<div class="panel-container customer-adoption"></div>
<div class="panel-container alerts-history"></div>
{{#if hasSiteMessages }}
  <div class="panel-container site-messages"></div>
{{/if}}
