{{#each items}}
  <div class="item">
    <div class="icon-count">
      <img class="img" src={{img}} />
      <span class="count">{{count}}</span>
    </div>
    <span class="status-label">{{label}}<span>
  </div>
{{/each}}
