@mixin responsive-abbr($breakpoint: $medium-up) {
  cursor: inherit;
  border: none;
  text-decoration: none;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;

  // show the abbreviation
  span { display: inline; }
  // hide the expanded title
  &::before { content: ''; }

  @media #{$breakpoint} {
    // hide the abbreviation
    span { display:none; }
    // show the expanded title
    &::before { content: attr(title); }
  }
}
