#faqs-view {
  width: 40%;
  overflow: auto;

  @media #{$small-only} {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 0;
  }

  font-weight: 700;

  dd {
    color: $grey-dark;
    font-size: 1.125em;

    &:before {
      content: "";
      width: 70%;
      position: absolute;
      height  : 1px;
      border-bottom: 1px solid $grey-light;
    }
  }

  dt {
    font-size: 1.125em;
  }

  .icon-close {
    float: right;
    @extend .icon-cancel-circle;
    color: $red;
    font-size: 1.5em;
  }
}
